/*Project ARIA */


/*
Clicking on the navigation links should jump the 
viewport to the relevant section. However, this 
jumping can be disorienting for some users.

Select all elements, and set the scroll-behavior to smooth.

*/
/*
*{
    scroll-behavior: smooth;
  } */
  /*
  Certain types of motion-based animations can cause discomfort for some users. 
  In particular, people with vestibular disorders have sensitivity to certain motion triggers.

  The @media at-rule has a media feature called prefers-reduced-motion to set CSS based on the user's preferences. 
  It can take one of the following values:
  *  reduce
  *  no-preference
  Syntax::
  @media (feature: value) {
    selector {
      styles
    }
  }
  Wrap the style rule that sets scroll-behavior: smooth within 
  an @media at-rule with the media feature 
  prefers-reduced-motion having no-preference set as the value.
*/
  @media (prefers-reduced-motion: no-preference) { * {
    scroll-behavior: smooth;
            }
        }

#logo {
    width: max(100px, 18vw);
    background-color: #0a0a23;
    aspect-ratio: 35 / 4;
    padding: 0.4rem;
}

header {
    width: 100%;
    height: 50px;
    background-color: #1b1b32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
  }

  h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
  }

  /*Target unordered list elements within nav elements,
   and use Flexbox to evenly space the children. */

   nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }

  
h1, h2 {
    font-family: Verdana sans-serif tahoma;
    
  }
  
  h2 {
    border-bottom: 4px solid #dfdfe2;
    margin-top: 0;
    padding-top: 60px;
  }

  /* 
To prevent unnecessary repetition, target the before pseudo-element 
of the p element, and give it a content property of "Question #"
*/
  p::before {
    content: "Question #";
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  /* Select the list elements within the navigation bar, 
  and give them the following styles:
  nav li or nav > ul > ol */

  nav li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  } 

/*font color of all the anchor elements within 
the list elements to something with a contrast ratio of at least 7:1.*/
  li > a{
    color: inherit;
    text-decoration: none;
  }

  /*
  a new selector targeting the navigation list elements so that when 
  the cursor hovers over them, the background 
  color and text color are switched, and the cursor becomes a pointer
  nav > ul > li:hover
  nav li:hover

  */
nav li:hover {
    background-color: #dfdfe2;
    color:#1b1b32;
    cursor:pointer;
}

main{
    padding-top: 40px;
    
}

section{
    width: 80%;
    margin-bottom:10px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
}

.info {
    padding: 10px 0 0 5px;
  }

  .formrow {
    margin: 2rem 0;
    padding:0 2rem;
  }
  
  input {
    font-size: 19px;
  }

  .info > input {
    width: 50%;
    text-align: left;
  }

/*
Targeted all label elements within .info elements, and 
 their width is set to 10%, and given min-width so they do not 
 take up less than 55px
*/

  .info label  {
    width:10%;
    min-width: 55px;
  }

  .info input, .info label {
    display: inline-block;
    text-align: right;
  } 

  /*
  To neaten the .question-block elements,
  the following CSS properties was used:
  */

  .question-block {
    text-align: left;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding-top: 5px;
  } 
  
  /*To make the p element have a look of higher priority*/
  
  p {
    margin-top: 5px;
    padding-left: 15px;
    font-size: 20px;
  }

  /*
  It is useful to see the default border around 
  the fieldset elements, during development.
  It might not be the case after development.
  To remove the border and bottom padding on the .question elements,
  border is set to none, padding to 0.

  */

  .question {
    border: none;
    padding-bottom: 0;
  }

  .answers-list {
    list-style: none;
    padding:0;
  }
  button {
    display: block;
    margin: 40px auto;
    width: 40%;
    padding: 15px;
    font-size: 23px;
    background: #d0d0d5;
    border: 3px solid #3b3b4f;
  }

  footer{
    background-color: #2a2a40;
    display: flexbox;
    justify-content: center;
    
  }

  footer, footer a {
    color:#fae6fa;
  }

  address {
    text-align: center;
    padding: 4px 3px;
  }